.DS_Store
.idea/*
cifar-10-python.tar.gz
cifar-10-batches-py/*
__pycache__
preprocess_batch_1.p
preprocess_batch_2.p
preprocess_batch_3.p
preprocess_batch_4.p
preprocess_batch_5.p
preprocess_test.p
preprocess_validation.p
